<!DOCTYPE html>
<html lang="en">
<head>
    <title>toFilms</title>

    <meta charset="UTF-8">
    <title>Base</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/hoverex-all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/prettyPhoto.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <!-- <link rel="shortcut icon" href="/static/images/favicon.ico"> -->

</head>

<body>

<div class="header">

</div>


{% block header %}{% endblock %}
{% block title %}{% endblock %}
{% block subtitle %}{% endblock %}
{% block body %}{% endblock %}
</body>
</html>