{% extends 'base.html' %}


{% block body %}
{% load static %}

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="titlePrincipal">
                    <h2>Welcome to your favourite recipe searcher!</h2>
                </div>
                <div class="card example1">
                    <div class="card-body">
                      <h3 class="card-title">First Example</h3>
                      <p class="card-text">This example shows you how watson recognize three images and then our app search a recipe with the result of the recognizement. 
                                           For do that, our app search the results in our recipes database, when the app find a recipe with these ingredients, 
                                           it returns you with the full information of the recipe and a YouTube video.</p>
                      <h4 class="card-second-title">Images:</h4>
                      <div class="card-images row">
                        <a target="_blank" href="{% static 'ingredientsImages/18/1.jpg' %}"><img src="{% static 'ingredientsImages/18/1.jpg' %}"></a>
                        <a target="_blank" href="{% static 'ingredientsImages/18/2.jpg' %}"><img src="{% static 'ingredientsImages/18/2.jpg' %}"></a>
                        <a target="_blank" href="{% static 'ingredientsImages/18/3.jpg' %}"><img src="{% static 'ingredientsImages/18/3.jpg' %}"></a>
                      </div>
                      <div class="row">
                        <a href="example1" class="btn btn-primary">Run it!</a>
                      </div>
                    </div>
                  </div>
                  <div class="card example2">
                    <div class="card-body">
                      <h3 class="card-title">Second Example</h3>
                      <p class="card-text">This example shows you how watson recognize for images and then our app search a recipe with the result of the recognizement. 
                            For do that, our app search the results in our recipes database, when the app find a recipe with these ingredients, 
                            it returns you with the full information of the recipe and a YouTube video.</p>
                      <h4 class="card-second-title">Images:</h4>
                      <div class="card-images row">
                            <a target="_blank" href="{% static 'ingredientsImages/32/1.jpg' %}"><img src="{% static 'ingredientsImages/32/1.jpg' %}"></a>
                            <a target="_blank" href="{% static 'ingredientsImages/32/2.jpg' %}"><img src="{% static 'ingredientsImages/32/2.jpg' %}"></a>
                            <a target="_blank" href="{% static 'ingredientsImages/32/3.jpg' %}"><img src="{% static 'ingredientsImages/32/3.jpg' %}"></a>
                            <a target="_blank" href="{% static 'ingredientsImages/32/4.jpg' %}"><img src="{% static 'ingredientsImages/32/4.jpg' %}"></a>
                      </div>
                      <a href="example2" class="btn btn-primary">Run it!</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
