{% extends 'base.html' %}


{% block body %}
{% load static %}

<div id="headerwrap">
  <div class="container">

    <div class="row">
      <div class="col-2">
        <div class="card ingredient-list">
          <div class="card-body">
              <div class="col-md-12">
                <div class="row ingredient-grid">
                  {% for ingredient in ingredients %}
                      <div class="col-md-4">
                        <div class="row">
                          <a target="_blank" href="{% static 'images/ingredients/'|add:ingredient|add:'.jpg' %}">
                            <img src="{% static 'images/ingredients/'|add:ingredient|add:'.jpg' %}">
                          </a>
                        </div>
                        <div class="row">
                          <h4>{{ingredient}}</h4>
                        </div>
                      </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}