{% extends 'base.html' %}


{% block body %}
{% load static %}

<div id="headerwrap">
  <div class="container">

    <div class="row">
      <div class="col-2">
        <div class="card recipe-container">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2">
                <a target="_blank" href="{{recipe.photo}}"><img src="{{recipe.photo}}"></a>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-7 col-md-1">
                    <h3>Name:</h3>
                  </div>
                  <div class="col-7 col-md-5">
                    <h4>{{recipe.name}}</h4>
                  </div>
                  <div class="col-md-3 second-column-title">
                    <h3>Preparation Time:</h3>
                  </div>
                  <div class="col-md-2">
                    <h4>{{recipe.prep_time}} minutes</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 easeOfPrep">
                    <h3>Ease Of Prep:</h3>
                  </div>
                  <div class="col-md-4 easeOfPrepValue">
                    <h4>{{recipe.ease_of_prep}}</h4>
                  </div>
                  {% if recipe.link %}
                  <div class="col-md-1 second-column-title">
                    <h3>Link:</h3>
                  </div>
                  <div class="col-md-3">
                    <h4><a href="{{recipe.link}}">Go to Recipe Link</a></h4>
                  </div>
                  {% else %}
                  <div class="col-md-6">
                  </div>
                  {% endif %}
                </div>
                <div class="row">
                  <div class="col-7 col-md-1">
                    <h3>Type:</h3>
                  </div>
                  <div class="col-7 col-md-3">
                    <h4>{{recipe.recipe_type}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h3 class="ingredientsList">- Ingredients:</h3>
              </div>
            </div>
            <div class="row ingredientDiv">
                <ul class="col-md-7">
                {% for ingredient in ingredients %}
                  <li><h4 class="ingredientsList">•  {{ingredient.ingredient_name}}</h4></li>
                {% endfor %}
                </ul>
                <div class="col-md-3">
                    <iframe width="300" height="170" src="{{youtube_link}}">
                    </iframe>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}