{% extends 'base.html' %}


{% block body %}
{% load static %}

<div id="headerwrap">
  <div class="container">

    <div class="row">
      <div class="col-2">
        <div class="card recipe-list">
          <div class="card-body">
              <div class="col-md-12">
                  <div class="row list-header">
                      <div class="col-md-4">
                        <h3>Name</h3>
                      </div>
                      <div class="col-md-2">
                        <h3>Type</h3>
                      </div>
                      <div class="col-md-2">
                        <h3>Ease Of Prep</h3>
                      </div>
                      <div class="col-md-2">
                        <h3>Preparation Time</h3>
                      </div>
                      <div class="col-md-2">
                        <h3>Link</h3>
                      </div>
                    </div>
              {% for recipe in recipes %}
                <div class="row">
                  <div class="col-md-4 recipe-container">
                    <h4>{{recipe.name}}</h4>
                  </div>
                  <div class="col-md-2">
                    <h4>{{recipe.recipe_type}}</h4>
                  </div>
                  <div class="col-md-2 recipe-container">
                    <h4>{{recipe.ease_of_prep}}</h4>
                  </div>
                  <div class="col-md-2">
                    <h4>{{recipe.prep_time}} minutes</h4>
                  </div>
                  <div class="col-md-2">
                    <h4><a target="_blank" href="recipe/{{recipe.recipe_id}}">See Recipe</a></h4>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}